.mat-toolbar {
    background-color: #333;
    color: white;
    height: 15%;
}

.mat-toolbar .mat-toolbar-row {
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}
.app-toolbar {
    vertical-align: middle;
    padding-left: 2%;
}

.mat-icon-button {
    color: white;
}

.mat-drawer-container {
    height: 100vh;
}

.mat-drawer {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
}

.mat-nav-list {
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.mat-nav-list a {
    width: 40%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-drawer-content {
    overflow-y: auto;
}

@media (max-width: 600px) {
    .mat-toolbar .mat-toolbar-row {
        justify-content: space-between;
    }

    .mat-nav-list a.mat-list-item {
        justify-content: flex-start;
    }
}
