<!doctype html>
<html>
    <head>
        <title>Page 2</title>
    </head>
    <body>
        <div class="stripe-section">
            <div class="content">
                <h1>Üdvözöljük a 2. oldalon</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vivamus lacinia odio vitae vestibulum. Donec in efficitur
                    leo.
                </p>
                <p>
                    Curabitur non nulla sit amet nisl tempus convallis quis ac
                    lectus. Cras ultricies ligula sed magna dictum porta.
                </p>
            </div>
        </div>
    </body>
</html>
