<!doctype html>
<html>
    <head>
        <title>Példa Oldal</title>
    </head>
    <body>
        <div class="container">
            <h1>Árvíztűrő tükörfúrógép</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                vehicula enim vel nunc maximus, id dignissim erat vulputate. Ut
                nec venenatis tortor, at tincidunt dolor. Mauris eget arcu sit
                amet eros fermentum congue. Nulla facilisi. Nulla facilisi.
            </p>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo.
            </p>
        </div>
    </body>
</html>
